<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have added an user.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> user was not added.
        </div>
        <form @submit.prevent="userForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter name" v-model="input_name">
                        <small id="name_help" class="form-text text-muted">Enter name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="date_of_birth">Date of birth</label>
                        <input type="date" class="form-control" id="date_of_birth" aria-describedby="date_of_birth_help" placeholder="Enter date of birth" v-model="input_date_of_birth">
                        <small id="date_of_birth_help" class="form-text text-muted">Enter date of birth</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" aria-describedby="gender_help" v-model="input_gender">
                            <option value="1"> Male</option>
                            <option value="2"> Female</option>
                        </select>
                        <small id="gender_help" class="form-text text-muted">Enter your gender</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="national_id">National id</label>
                        <input type="number" class="form-control" id="national_id" aria-describedby="national_id_help" placeholder="Enter national ID" v-model="input_national_id">
                        <small id="national_id_help" class="form-text text-muted">Enter national ID</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="phone_number">Phone number</label>
                        <input type="number" class="form-control" id="phone_number" aria-describedby="phone_number_help" placeholder="Enter phone number" v-model="input_phone_number">
                        <small id="phone_number_help" class="form-text text-muted">Enter phone number (254....)</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email_help" placeholder="Enter email address" v-model="input_email">
                        <small id="email_help" class="form-text text-muted">Enter valid email</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="is_verified">Is verified?</label>
                        <input type="checkbox" class="form-control" id="is_verified" aria-describedby="is_verified_help" v-model="input_is_verified" @change="changeVerificationStatus(input_is_verified, $event)">
                        <small id="is_verified_help" class="form-text text-muted">Click the box if user is verified</small>
                    </div>
                </div>
            </div>
            <div class="row" v-if="loader">
                <div class="col-sm">
                    <div id="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary">Create user</button>
                </div>
            </div>
        </form>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{

                input_name: '',
                input_date_of_birth: '',
                input_phone_number: '',
                input_gender: '',
                input_national_id: '',
                input_email: '',
                input_is_verified: '',


                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

            }
        },

        methods: {

            userForm(){

                this.loader = true;

                var name = this.input_name && this.input_name.trim()
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }

                var date_of_birth = this.input_date_of_birth;
                if (!date_of_birth) {
                    alert('Enter date of birth');
                    this.loader = false;
                    return
                }

                var gender = this.input_gender;
                if (!gender) {
                    alert('Enter gender');
                    this.loader = false;
                    return
                }


                var national_id = this.input_national_id;
                if (!national_id) {
                    alert('Enter national_id');
                    this.loader = false;
                    return
                }


                var phone_number = this.input_phone_number;
                if (!phone_number) {
                    alert('Enter phone number');
                    this.loader = false;
                    return
                }


                var email = this.input_email && this.input_email.trim()
                if (!email) {
                    alert('Enter email');
                    this.loader = false;
                    return
                }

                var is_verified = this.input_is_verified;

                var password = this.createRandomString(8);
                const vm = this;
                let uri = base_url+`admin-user-create`;
                axios.post(uri, {
                    name: name,
                    date_of_birth: date_of_birth,
                    phone_number: phone_number,
                    email: email,
                    gender : gender,
                    national_id : national_id,
                    is_verified : is_verified,
                    password: password,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                            vm.input_name = '';
                            vm.input_phone_number = '';
                            vm.input_date_of_birth = '';
                            vm.input_email = '';
                            vm.input_gender = '';
                            vm.input_is_verified = '';
                            vm.input_national_id = '';

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            createRandomString(length){
                var str = "";
                for ( ; str.length < length; str += Math.random().toString( 36 ).substr( 2 ) );
                return str.substr( 0, length );
            },

        }

    }

</script>

