<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have added an admin.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> Admin was not added.
        </div>
        <form @submit.prevent="adminForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter name" v-model="input_name">
                        <small id="name_help" class="form-text text-muted">Enter name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="phone_number">Phone number</label>
                        <input type="number" class="form-control" id="phone_number" aria-describedby="phone_number_help" placeholder="Enter phone number" v-model="input_phone_number">
                        <small id="phone_number_help" class="form-text text-muted">Enter phone number (254....)</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="national_id">National ID</label>
                        <input type="number" class="form-control" id="national_id" aria-describedby="national_id_help" placeholder="Enter national id" v-model="input_national_id">
                        <small id="national_id_help" class="form-text text-muted">Enter your national id</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email_help" placeholder="Enter email address" v-model="input_email">
                        <small id="email_help" class="form-text text-muted">Enter valid email</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="role">Admin role</label>
                        <select class="form-control" id="role" aria-describedby="mode_of_payment_help" v-model="input_role">
                            <option value="1"> Super admin</option>
                            <option value="2"> Admin</option>
                            <option value="3"> Project manager</option>
                            <option value="4"> Team leader</option>
                            <option value="5"> Finance</option>
                            <option value="6"> Supervisor</option>
                            <option value="7"> Operations</option>
                        </select>
                        <small id="role_help" class="form-text text-muted">Select role</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="permanent">Permanent status</label>
                        <select class="form-control" id="permanent" aria-describedby="mode_of_payment_help" v-model="input_permanent">
                            <option value="0"> Temporary</option>
                            <option value="1"> Permanent</option>
                        </select>
                        <small id="permanent_help" class="form-text text-muted">Select permanent</small>
                    </div>
                </div>
            </div>
            <div class="row" v-if="loader">
                <div class="col-sm">
                    <div id="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary">Create admin</button>
                </div>
            </div>
        </form>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{

                input_name: '',
                input_phone_number: '',
                input_email: '',
                input_national_id: '',
                input_role: '1',
                input_permanent: '0',

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

            }
        },

        methods: {

            adminForm(){

                this.loader = true;

                var name = this.input_name && this.input_name.trim()
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }


                var phone_number = this.input_phone_number && this.input_phone_number.trim()
                if (!phone_number) {
                    alert('Enter phone number');
                    this.loader = false;
                    return
                }


                var national_id = this.input_national_id && this.input_national_id.trim()
                if (!national_id) {
                    alert('Enter national id');
                    this.loader = false;
                    return
                }

                var role = this.input_role
                var permanent_status = this.input_permanent


                var email = this.input_email && this.input_email.trim()
                if (!email) {
                    alert('Enter email');
                    this.loader = false;
                    return
                }

                var password = this.createRandomString(8);
                console.log(password);

                const vm = this;
                let uri = base_url+`admin-admin-create`;
                axios.post(uri, {
                    admin_id: this.admin,
                    name: name,
                    phone_number: phone_number,
                    email: email,
                    national_id : national_id,
                    role: role,
                    permanent_status: permanent_status,
                    password: password,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                            vm.input_name = '';
                            vm.input_phone_number = '';
                            vm.input_role = '';
                            vm.input_permanent = '';
                            vm.input_email = '';
                            vm.national_id = '';

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            createRandomString(length){
                var str = "";
                for ( ; str.length < length; str += Math.random().toString( 36 ).substr( 2 ) );
                return str.substr( 0, length );
            },

        }

    }

</script>

