<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have edited the location.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> location was not edited.
        </div>
        <form @submit.prevent="locationForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">Location / assignment name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter name" v-model="input_name">
                        <small id="name_help" class="form-text text-muted">Enter assignment name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="location-identifier">Location identifier (KE numbers)</label>
                        <input type="text" class="form-control" id="location-identifier" aria-describedby="location-identifier_help" placeholder="Enter location identifier" v-model="input_location_identifier">
                        <small id="location_identifier_help" class="form-text text-muted">Enter location identifier</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" aria-describedby="description_help" placeholder="Enter description" v-model="input_description"></textarea>
                        <small id="description_help" class="form-text text-muted">Enter description</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="team_leader">Team leader / Supervisor</label>
                        <select class="form-control" id="team_leader" aria-describedby="team_leader_help" v-model="input_team_leader">
                            <option :value="team_leader.id" v-for="team_leader in team_leaders"> {{ team_leader.name }}</option>
                        </select>
                        <small id="team_leader_help" class="form-text text-muted">Select team leader</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" class="form-control" name="date" placeholder="Date" v-model="input_date">
                        <small class="form-text text-muted">Date</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>Duration (Days)</label>
                        <input type="number" class="form-control" name="duration" placeholder="Duration" v-model="input_duration">
                        <small class="form-text text-muted">Assignment duration</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label>Division</label>
                        <select class="form-control" id="division" aria-describedby="division_help" v-model="input_division" @change="fetchRegion(input_division)">
                            <option :value="division.id" v-for="division in divisions"> {{ division.name }}</option>
                        </select>
                        <small id="division_help" class="form-text text-muted">Select division</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>Region</label>
                        <select class="form-control" id="region" aria-describedby="region_help" v-model="input_region">
                            <option :value="region.id" v-for="region in regions"> {{ region.name }}</option>
                        </select>
                        <small id="region_help" class="form-text text-muted">Select region</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="role">Enable geofencing</label>
                        <select class="form-control" id="role" aria-describedby="mode_of_payment_help" v-model="input_enable_geo_fence">
                            <option value="0"> Disable</option>
                            <option value="1"> Enable</option>
                        </select>
                        <small id="role_help" class="form-text text-muted">Enable geofence</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label>Location comments</label>
                        <input type="text" class="form-control" name="commments" placeholder="Location comments" v-model="input_location_comments">
                        <small class="form-text text-muted">Location comments</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label>Latitude</label>
                        <input type="text" class="form-control" id="latitude" name="north_east" placeholder="Latitude" disabled>
                        <small class="form-text text-muted">Enter latitude</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>Longitude</label>
                        <input type="text" class="form-control" id="longitude" name="south_west" placeholder="Longitude" disabled>
                        <small class="form-text text-muted">Enter longitude</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <!--<div id="map" style="min-height:400px;"></div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="pac-card" id="pac-card">
                        <div>
                            <div id="title">
                                Autocomplete search
                            </div>
                            <div id="type-selector" class="pac-controls">
                                <input type="radio" name="type" id="changetype-all" checked="checked">
                                <label for="changetype-all">All</label>

                                <input type="radio" name="type" id="changetype-establishment">
                                <label for="changetype-establishment">Establishments</label>

                                <input type="radio" name="type" id="changetype-address">
                                <label for="changetype-address">Addresses</label>

                                <input type="radio" name="type" id="changetype-geocode">
                                <label for="changetype-geocode">Geocodes</label>
                            </div>
                            <div id="strict-bounds-selector" class="pac-controls">
                                <input type="checkbox" id="use-strict-bounds" value="">
                                <label for="use-strict-bounds">Strict Bounds</label>
                            </div>
                        </div>
                        <div id="pac-container">
                            <input id="pac-input" type="text"
                                   placeholder="Enter a location">
                        </div>
                    </div>
                    <div id="map" style="min-height:400px;"></div>
                    <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name"  class="title"></span><br>
                        <span id="place-address"></span>
                    </div>
                </div>
            </div>
            <div class="row" v-if="loader">
                <div class="col-sm">
                    <div id="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" v-if="can_edit">Edit location</button>
                    <button class="btn btn-danger" @click.prevent="deleteLocation()"  v-if="can_delete">Delete location</button>
                </div>
            </div>
        </form>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #description {
        font-family: Roboto;
        font-size: 13px;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 15px;
        padding: 6px 12px;
    }

</style>

<script>

    
    export default {

        data(){
            return{
                input_name: '',
                input_location_identifier: '',
                input_description: '',
                input_team_leader: '',
                input_date: '',
                input_duration: '',
                input_latitude: '',
                input_longitude: '',
                input_enable_geo_fence: '',
                input_location_comments: '',

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

                input_region: '',
                input_division: '',

                base_url_web,
                base_url_web_admin,

                team_leaders: []

            }
        },

        props: {
            location: String,
            activation: String,
            can_edit: String,
            can_delete: String,
        },

        mounted(){
            this.fetchDivision();
            this.fetchTeamLeader();
            this.fetchLocation();
        },

        methods: {

            fetchRegion (region){
                this.regions = [];
                let uri = base_url+`admin-region/`+region;
                axios.get(uri).then((response) => {
                    this.regions = response.data;
                });
            },

            fetchDivision (){
                this.regions = [];
                let uri = base_url+`admin-division`;
                axios.get(uri).then((response) => {
                    this.divisions = response.data;
                });
            },

            locationForm(){

                this.loader = true;

                var name = this.input_name;
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }

                var description = this.input_description;
                var location_identifier = this.input_location_identifier;
                var enable_geo_fence = this.input_enable_geo_fence;

                var team_leader = this.input_team_leader;
                if (!team_leader) {
                    alert('Enter team leader');
                    this.loader = false;
                    return
                }

                var date = this.input_date;
                if (!date) {
                    alert('Enter date');
                    this.loader = false;
                    return
                }

                var division_id = this.input_division;
                var region_id = "";
                if (!division_id) {
                    var region_id = this.input_region;
                    if (!region_id) {
                        alert('Enter region id');
                        this.loader = false;
                        return
                    }
                }

                var duration = this.input_duration;

                var latitude = document.getElementById("latitude").value;
                if (!latitude) {
                    alert('Enter latitude');
                    this.loader = false;
                    return
                }

                var longitude = document.getElementById("longitude").value;
                if (!longitude) {
                    alert('Enter longitude');
                    this.loader = false;
                    return
                }

                var location_comments = this.input_location_comments;

                const vm = this;
                let uri = base_url+`admin-location-edit`;
                axios.post(uri, {
                    location_id: this.location,
                    name: name,
                    description: description,
                    location_identifier: location_identifier,
                    team_leader_id: team_leader,
                    date: date,
                    duration: duration,
                    latitude: latitude,
                    longitude: longitude,
                    region_id: region_id,
                    division_id: division_id,
                    enable_geo_fence: enable_geo_fence,
                    location_comments: location_comments,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            fetchLocation (){
                let uri = base_url+`admin-location-detail/`+this.location;
                axios.get(uri).then((response) => {

                    let location = response.data;

                    if(location){
                        this.input_name = location.name;
                        this.input_description = location.description;
                        this.input_location_identifier = location.location_identifier;
                        this.input_team_leader = location.team_leader_id;
                        this.input_date = location.date;
                        this.input_duration = location.duration;
                        this.input_region = location.region_id;
                        this.input_division = location.division_id;
                        this.input_enable_geo_fence = location.enable_geo_fence;
                        this.input_location_comments = location.location_comments;

                        document.getElementById("latitude").value = location.latitude;
                        document.getElementById("longitude").value = location.longitude;
                    }

                });
            },

            fetchTeamLeader (){
                let uri = base_url+`admin-get-activation-team-leader/`+this.activation;
                axios.get(uri).then((response) => {
                    this.team_leaders = response.data;
                });
            },

            deleteLocation(){
                this.loader = true;
                const vm = this;
                let uri = base_url+`admin-location-delete`;
                axios.post(uri, {
                    location_id: this.location,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){
                            alert('Location has been successfully deleted');
                            window.location.replace(vm.base_url_web_admin+'activation-details/'+this.activation);

                        }else{
                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Location record was not deleted";
                        }

                    })
                    .catch(function (error) {

                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Location record was not deleted";
                        console.log(error);

                    });

            },

        }

    }

</script>

