<template>
    <div class="row">
        <div class="col-5" v-if="can_create">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Success!</strong> You have added an location.
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error!</strong> location was not added.
                    </div>
                    <form @submit.prevent="locationForm" method="post">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="name">Location / assignment name</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter name" v-model="input_name">
                                    <small id="name_help" class="form-text text-muted">Enter assignment name</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="location-identifier">Location identifier (KE numbers)</label>
                                    <input type="text" class="form-control" id="location-identifier" aria-describedby="location-identifier_help" placeholder="Enter location identifier" v-model="input_location_identifier">
                                    <small id="location_identifier_help" class="form-text text-muted">Enter location identifier</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" aria-describedby="description_help" placeholder="Enter description" v-model="input_description"></textarea>
                                    <small id="description_help" class="form-text text-muted">Enter description</small>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="team_leader">Team leader / Supervisor</label>
                                    <select class="form-control" id="team_leader" aria-describedby="team_leader_help" v-model="input_team_leader">
                                        <option :value="team_leader.id" v-for="team_leader in team_leaders"> {{ team_leader.name }}</option>
                                    </select>
                                    <small id="team_leader_help" class="form-text text-muted">Select team leader</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" class="form-control" name="date" placeholder="Date" v-model="input_date">
                                    <small class="form-text text-muted">Date</small>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Duration (Days)</label>
                                    <input type="number" class="form-control" name="duration" placeholder="Duration" v-model="input_duration">
                                    <small class="form-text text-muted">Assignment duration</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Division</label>
                                    <select class="form-control" id="division" aria-describedby="division_help" v-model="input_division" @change="fetchRegion(input_division)">
                                        <option :value="division.id" v-for="division in divisions"> {{ division.name }}</option>
                                    </select>
                                    <small id="division_help" class="form-text text-muted">Select division</small>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Region</label>
                                    <select class="form-control" id="region" aria-describedby="region_help" v-model="input_region">
                                        <option :value="region.id" v-for="region in regions"> {{ region.name }}</option>
                                    </select>
                                    <small id="region_help" class="form-text text-muted">Select region</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="role">Enable geofencing</label>
                                    <select class="form-control" id="role" aria-describedby="mode_of_payment_help" v-model="input_enable_geo_fence">
                                        <option value="0"> Disable</option>
                                        <option value="1"> Enable</option>
                                    </select>
                                    <small id="role_help" class="form-text text-muted">Enable geofence</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Location comments</label>
                                    <input type="text" class="form-control" name="commments" placeholder="Location comments" v-model="input_location_comments">
                                    <small class="form-text text-muted">Location comments</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Latitude</label>
                                    <input type="text" class="form-control" id="latitude" name="north_east" placeholder="Latitude" disabled>
                                    <small class="form-text text-muted">Enter latitude</small>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label>Longitude</label>
                                    <input type="text" class="form-control" id="longitude" name="south_west" placeholder="Longitude" disabled>
                                    <small class="form-text text-muted">Enter longitude</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <!--<div id="map" style="min-height:400px;"></div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="pac-card" id="pac-card">
                                    <div>
                                        <div id="title">
                                            Autocomplete search
                                        </div>
                                        <div id="type-selector" class="pac-controls">
                                            <input type="radio" name="type" id="changetype-all" checked="checked">
                                            <label for="changetype-all">All</label>

                                            <input type="radio" name="type" id="changetype-establishment">
                                            <label for="changetype-establishment">Establishments</label>

                                            <input type="radio" name="type" id="changetype-address">
                                            <label for="changetype-address">Addresses</label>

                                            <input type="radio" name="type" id="changetype-geocode">
                                            <label for="changetype-geocode">Geocodes</label>
                                        </div>
                                        <div id="strict-bounds-selector" class="pac-controls">
                                            <input type="checkbox" id="use-strict-bounds" value="">
                                            <label for="use-strict-bounds">Strict Bounds</label>
                                        </div>
                                    </div>
                                    <div id="pac-container">
                                        <input id="pac-input" type="text"
                                               placeholder="Enter a location">
                                    </div>
                                </div>
                                <div id="map" style="min-height:400px;"></div>
                                <div id="infowindow-content">
                                    <img src="" width="16" height="16" id="place-icon">
                                    <span id="place-name"  class="title"></span><br>
                                    <span id="place-address"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="loader">
                            <div class="col-sm">
                                <div id="loader"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-primary">Create location</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-7" v-if="can_list">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="example" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="width: 40%;">Name</th>
                            <th>Team leader</th>
                            <th>Date</th>
                            <th>Duration</th>
                            <th class="actions" v-if="can_details">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(location, key) in locations">
                            <td>{{ key+1 }}</td>
                            <td style="width: 40%;">{{ location.name }}</td>
                            <td>{{ location.team_leader }}</td>
                            <td>{{ location.date }}</td>
                            <td>{{ location.duration }}</td>
                            <td v-if="can_details">
                                <a :href="base_url_web_admin+'location-details/'+location.id+'/'+location.activation_id" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

    #map {
        height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #description {
        font-family: Roboto;
        font-size: 13px;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 15px;
        padding: 6px 12px;
    }

</style>

<script>

    export default {

        data(){
            return{
                input_name: '',
                input_location_identifier: '',
                input_description: '',
                input_team_leader: '',
                input_date: '',
                input_duration: '',
                input_latitude: '',
                input_longitude: '',
                input_enable_geo_fence: '',
                input_location_comments: '',

                input_region: '',
                input_division: '',

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

                locations: [],
                team_leaders: [],
                divisions: [],
                regions: [],

                base_url_web,
                base_url_web_admin

            }
        },

        props: {
            activation: String,
            can_list: String,
            can_create: String,
            can_details: String,
        },

        mounted(){
            this.fetchLocation();
            this.fetchTeamLeader();
            this.fetchDivision();
        },

        methods: {

            fetchRegion (region){
                this.regions = [];
                let uri = base_url+`admin-region/`+region;
                axios.get(uri).then((response) => {
                    this.regions = response.data;
                });
            },

            fetchDivision (){
                this.regions = [];
                let uri = base_url+`admin-division`;
                axios.get(uri).then((response) => {
                    this.divisions = response.data;
                });
            },

            locationForm(){

                this.loader = true;

                var name = this.input_name && this.input_name.trim();
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }

                var description = this.input_description;
                var location_identifier = this.input_location_identifier;
                var enable_geo_fence = this.input_enable_geo_fence;

                var team_leader = this.input_team_leader;
                if (!team_leader) {
                    alert('Enter team leader');
                    this.loader = false;
                    return
                }

                var division_id = this.input_division;
                var region_id = "";
                if (!division_id) {
                    var region_id = this.input_region;
                    if (!region_id) {
                        alert('Enter region id');
                        this.loader = false;
                        return
                    }
                }

                var date = this.input_date;
                if (!date) {
                    alert('Enter date');
                    this.loader = false;
                    return
                }

                var duration = this.input_duration;
                var location_comments = this.input_location_comments;

                var latitude = document.getElementById("latitude").value;
                if (!latitude) {
                    alert('Enter latitude');
                    this.loader = false;
                    return
                }

                var longitude = document.getElementById("longitude").value;
                if (!longitude) {
                    alert('Enter longitude');
                    this.loader = false;
                    return
                }


                const vm = this;
                let uri = base_url+`admin-location-create`;
                axios.post(uri, {
                    activation_id: this.activation,
                    name: name,
                    description: description,
                    location_identifier: location_identifier,
                    team_leader_id: team_leader,
                    date: date,
                    duration: duration,
                    region_id: region_id,
                    division_id: division_id,
                    latitude: latitude,
                    longitude: longitude,
                    enable_geo_fence: enable_geo_fence,
                    location_comments: location_comments,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                            vm.input_name = '';
                            vm.input_description = '';
                            vm.input_location_identifier = '';
                            vm.input_team_leader = '';
                            vm.input_date = '';
                            vm.input_duration = '';
                            vm.input_region = '';
                            vm.input_division = '';
                            vm.input_enable_geo_fence = '';
                            vm.input_location_comments = '';

                            document.getElementById("latitude").value = "";
                            document.getElementById("longitude").value = "";

                            vm.fetchLocation();

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            fetchLocation(){
                let uri = base_url+`admin-get-activation-locations/`+this.activation;
                axios.get(uri).then((response) => {
                    this.locations = response.data;
                });
            },

            fetchTeamLeader (){
                let uri = base_url+`admin-get-activation-team-leader/`+this.activation;
                axios.get(uri).then((response) => {
                    this.team_leaders = response.data;
                });
            },

        }

    }

</script>

