<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have added an client.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> client was not added.
        </div>
        <form @submit.prevent="clientForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="company_name">company_name</label>
                        <input type="text" class="form-control" id="company_name" aria-describedby="company_name_help" placeholder="Enter name" v-model="input_company_name">
                        <small id="company_name_help" class="form-text text-muted">Enter company_name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="phone_number">Phone number</label>
                        <input type="number" class="form-control" id="phone_number" aria-describedby="phone_number_help" placeholder="Enter phone number" v-model="input_phone_number">
                        <small id="phone_number_help" class="form-text text-muted">Enter phone number (254....)</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" aria-describedby="address_help" placeholder="Enter address" v-model="input_address">
                        <small id="address_help" class="form-text text-muted">Enter your address</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email_help" placeholder="Enter email address" v-model="input_email">
                        <small id="email_help" class="form-text text-muted">Enter valid email</small>
                    </div>
                </div>
            </div>
            <div class="row" v-if="loader">
                <div class="col-sm">
                    <div id="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary">Create client</button>
                </div>
            </div>
        </form>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{

                input_company_name: '',
                input_phone_number: '',
                input_email: '',
                input_address: '',

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

            }
        },

        methods: {

            clientForm(){

                this.loader = true;

                var company_name = this.input_company_name && this.input_company_name.trim()
                if (!company_name) {
                    alert('Enter company name');
                    this.loader = false;
                    return
                }


                var phone_number = this.input_phone_number && this.input_phone_number.trim()
                if (!phone_number) {
                    alert('Enter phone number');
                    this.loader = false;
                    return
                }


                var address = this.input_address && this.input_address.trim()
                if (!address) {
                    alert('Enter address');
                    this.loader = false;
                    return
                }


                var email = this.input_email && this.input_email.trim()
                if (!email) {
                    alert('Enter email');
                    this.loader = false;
                    return
                }

                var password = this.createRandomString(8);
                console.log(password);

                const vm = this;
                let uri = base_url+`admin-client-create`;
                axios.post(uri, {
                    company_name: company_name,
                    phone_number: phone_number,
                    email: email,
                    address : address,
                    password: password,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                            vm.input_company_name = '';
                            vm.input_phone_number = '';
                            vm.input_email = '';
                            vm.address = '';

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            createRandomString(length){
                var str = "";
                for ( ; str.length < length; str += Math.random().toString( 36 ).substr( 2 ) );
                return str.substr( 0, length );
            },

        }

    }

</script>

