<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have edited division details.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{ alert_message }}.
        </div>
        <form @submit.prevent="divisionUpdateForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter first company name" v-model="input_name">
                        <small id="name_help" class="form-text text-muted">Enter name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" v-if="can_edit">Edit division</button>
                    <button class="btn btn-danger" @click.prevent="deleteDivision()"  v-if="can_delete">Delete division</button>
                </div>
            </div>
        </form>
    </div>
</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    export default {
        props: {
            division: String,
            can_edit: String,
            can_delete: String,
        },

        mounted(){
            this.fetchDivision(this.division)
        },

        data(){
            return{

                input_name: '',

                alert_error: Boolean = false,
                alert_message: "",
                alert_success: Boolean = false,
                loader: Boolean = false,

                base_url_web,
                base_url_web_admin

            }
        },

        methods: {

            divisionUpdateForm(){
               
                this.loader = true;
                
                var name = this.input_division && this.input_name.trim()
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }

                const vm = this;
                let uri = base_url+`admin-division-edit`;
                axios.post(uri, {
                    division_id: this.division,
                    name: name,
                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;


                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Division details was not edited";
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Division details was not edited";
                    });

            },


            deleteDivision(){
                this.loader = true;
                const vm = this;
                let uri = base_url+`admin-division-delete`;
                axios.post(uri, {
                    division_id: this.division,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){
                            alert('Division has been successfully deleted');
                            window.location.replace(vm.base_url_web_admin+'division');

                        }else{
                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Division record was not deleted";
                        }

                    })
                    .catch(function (error) {

                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Division record was not deleted";
                        console.log(error);

                    });

            },

            fetchDivision (division_id){
                let uri = base_url+`admin-division-detail/`+division_id;
                axios.get(uri).then((response) => {

                    let division = response.data;

                    if(division){
                        this.input_name = division.name;
                    }

                });
            },


        }

    }

</script>

