<template>
    <div class="row">
        <div class="col-5" v-if="can_create">
            <div class="card mb-4">
                <div class="card-body">
                <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success!</strong> You have added a division.
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error!</strong> division was not added.
                </div>
                <form @submit.prevent="divisionForm" method="post">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="name">name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter name" v-model="input_name">
                                <small id="name_help" class="form-text text-muted">Enter name</small>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="loader">
                        <div class="col-sm">
                            <div id="loader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button type="submit" class="btn btn-primary">Create division</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="col-7" v-if="can_list">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="example1" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="width: 40%;">Name</th>
                            <th>Date</th>
                            <th class="actions" v-if="can_details">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(division, index) in divisions">
                            <td>{{ index+1 }}</td>
                            <td style="width: 40%;">
                                {{ division.name }} <br>
                                <a :href="base_url_web_admin+'region/'+division.id">Regions</a>
                            </td>
                            <td>{{ division.created_at }}</td>
                            <td v-if="can_details">
                                <a :href="base_url_web_admin+'division-details/'+division.id" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{

                input_name: '',

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

                divisions: [],

                base_url_web_admin,

            }
        },

        props: {
            can_list: String,
            can_create: String,
            can_details: String,
        },

        mounted(){
            this.fetchDivision();
        },

        methods: {

            divisionForm(){

                this.loader = true;

                var name = this.input_name && this.input_name.trim()
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }
                
                const vm = this;
                let uri = base_url+`admin-division-create`;
                axios.post(uri, {
                    name: name,
                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                            vm.input_name = '';
                            vm.fetchDivision();

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            fetchDivision(){
                let uri = base_url+`admin-division`;
                axios.get(uri).then((response) => {
                    this.divisions = response.data;
                });
            }
            

        }

    }

</script>

