<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have edited summary details.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{ alert_message }}.
        </div>
        <form @submit.prevent="productSummaryUpdateForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="location_name">Location name</label>
                        <input type="text" class="form-control" id="location_name" aria-describedby="location_name_help" placeholder="Location name" v-model="input_location" disabled>
                        <small id="location_name_help" class="form-text text-muted">Enter location name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="product_name">Product name</label>
                        <input type="text" class="form-control" id="product_name" aria-describedby="product_name_help" placeholder="Product name" v-model="input_product_name" disabled>
                        <small id="product_name_help" class="form-text text-muted">Enter product name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="team_leader">Team leader</label>
                        <input type="text" class="form-control" id="team_leader" aria-describedby="team_leader_help" placeholder="Team leader name" v-model="input_team_leader" disabled>
                        <small id="team_leader_help" class="form-text text-muted">Enter team leader</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="text" class="form-control" id="date" aria-describedby="date_help" placeholder="date" v-model="input_date" disabled>
                        <small id="date_help" class="form-text text-muted">Enter date</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label>Base volume</label>
                        <input type="number" class="form-control" name="base_volume" placeholder="Opening summary" v-model="input_base_volume">
                        <small class="form-text text-muted">Opening summary</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" class="form-control" name="quantity" placeholder="Closing summary" v-model="input_quantity">
                        <small class="form-text text-muted">Closing summary</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" v-if="can_edit">Edit summary</button>
                    <button class="btn btn-danger" @click.prevent="deleteSummary()"  v-if="can_delete">Delete summary</button>
                </div>
            </div>
        </form>
    </div>
</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    export default {
        props: {
            product_summary: String,
            can_edit: String,
            can_delete: String,
        },

        mounted(){
            this.fetchSummaryDetails(this.product_summary)
        },

        data(){
            return{

                input_location: '',
                input_team_leader: '',
                input_product_name: '',
                input_date: '',
                input_base_volume: '',
                input_quantity: '',

                alert_error: Boolean = false,
                alert_message: "",
                alert_success: Boolean = false,
                loader: Boolean = false,

                base_url_web,
                base_url_web_admin

            }
        },

        methods: {

            productSummaryUpdateForm(){
               
                this.loader = true;
                
                var base_volume = this.input_base_volume;
                if (!base_volume) {
                    alert('Enter base volume');
                    this.loader = false;
                    return
                }

                var quantity = this.input_quantity;
                if (!quantity) {
                    alert('Enter quantity');
                    this.loader = false;
                    return
                }

                const vm = this;
                let uri = base_url+`admin-activation-location-product-summary-edit`;
                axios.post(uri, {
                    product_summary_id: this.product_summary,
                    base_volume: base_volume,
                    quantity: quantity,
                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;


                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Summary details was not edited";
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Summary details was not edited";
                    });

            },


            deleteSummary(){
                this.loader = true;
                const vm = this;
                let uri = base_url+`admin-activation-location-product-summary-delete`;
                axios.post(uri, {
                    product_summary_id: this.product_summary,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){
                            alert('Summary has been successfully deleted');

                        }else{
                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Summary record was not deleted";
                        }

                    })
                    .catch(function (error) {

                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Summary record was not deleted";
                        console.log(error);

                    });

            },

            fetchSummaryDetails (product_summary_id){
                let uri = base_url+`admin-get-activation-location-product-summary-details/`+product_summary_id;
                axios.get(uri).then((response) => {

                    let product_summary = response.data;

                    if(product_summary){
                        this.input_location = product_summary.location_name;
                        this.input_team_leader = product_summary.admin_name;
                        this.input_product_name = product_summary.product_name;
                        this.input_date = product_summary.date;
                        this.input_base_volume = product_summary.base_volume;
                        this.input_quantity = product_summary.quantity;
                    }

                });
            },


        }

    }

</script>

