<template>
    <div>
        <form @submit.prevent="locationForm" method="post">
            <div class="d-inline-block">
                <div class="form-group">
                    <label for="location">Search location</label>
                    <select class="form-control" id="location" style="width: 300px;" v-model="input_location">
                        <option :value="location.id" v-for="location in locations"> {{ location.name }}</option>
                    </select>
                </div>
            </div>
            <div class="d-inline-block">
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-warning">Search</button>
                    </div>
                </div>
            </div>

        </form>

        <div class="row" v-if="summaries.length != 0">
            <div class="col-7">
                <div class="card mb-4">
                    <div class="card-body">
                        <table id="example1" class="table table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th style="width: 30%;">Product</th>
                                <th>Quantity</th>
                                <th>Base Volume</th>
                                <th>Team leader</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(summary, index) in summaries">
                                <td>{{ index+1 }}</td>
                                <td style="width: 30%;"><a :href="base_url_web_admin+'product-summary-details/'+summary.id">{{ summary.product_name }}</a></td>
                                <td> {{ summary.quantity }} </td>
                                <td> {{ summary.base_volume }} </td>
                                <td> {{ summary.admin_name }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }
</style>

<script>


    export default {

        data(){
            return{
                input_location: '',
                loader: Boolean = false,

                locations: [],
                summaries: [],

                base_url_web,
                base_url_web_admin

            }
        },

        mounted(){
            this.fetchLocation();
        },

        props: {
            date: String,
            activation: String,
        },


        methods: {

            locationForm(){

                this.loader = true;

                var location = this.input_location;
                if (!location) {
                    alert('Select location');
                    this.loader = false;
                    return
                }

                const vm = this;
                let uri = base_url+`admin-get-activation-location-product-summary`;
                axios.post(uri, {
                    location_id: location,
                    date: this.date
                })
                    .then(function (response) {
                        vm.loader = false;
                        vm.summaries = response.data;

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                    });

            },


            fetchLocation (){
                let uri = base_url+`admin-get-activation-locations/`+this.activation;
                axios.get(uri).then((response) => {
                    this.locations = response.data;
                });
            },

        }

    }

</script>