<template>
        <product-sales-chart :width="mywidth" :activation="activation"></product-sales-chart>
</template>

<script>

    import ProductSalesChart from './ProductSalesChart';
    export default {

        props: {
            activation: String,
        },

        components:{
            'product-sales-chart': ProductSalesChart
        },

        data(){
            return {
                mywidth: 350,
                myheight: 500,
            }
        }

    }
</script>