<template>
    <sales-chart :width="mywidth" :activation="activation"></sales-chart>
</template>

<script>

    import SalesChart from './SalesChart';
    export default {

        props: {
            activation: String,
        },

        components:{
            'sales-chart': SalesChart
        },

        data(){
            return {
                mywidth: 700,
                myheight: 500,
            }
        }

    }
</script>