<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have added an merchandise.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> merchandise was not added.
        </div>
        <form @submit.prevent="merchandiseForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter name" v-model="input_name">
                        <small id="name_help" class="form-text text-muted">Enter name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" aria-describedby="description_help" placeholder="Enter description" v-model="input_description"></textarea>
                        <small id="description_help" class="form-text text-muted">Enter description</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" id="quantity" aria-describedby="quantity_help" placeholder="Enter quantity" v-model="input_quantity">
                        <small id="quantity_help" class="form-text text-muted">Enter quantity</small>
                    </div>
                </div>
            </div>
            <div class="row" v-if="loader">
                <div class="col-sm">
                    <div id="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" v-if="can_edit">Edit merchandise</button>
                    <button class="btn btn-danger" @click.prevent="deleteMerchandise()" v-if="can_delete">Delete merchandise</button>
                </div>
            </div>
        </form>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{

                input_name: '',
                input_description: '',
                input_quantity: '',

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

                base_url_web,
                base_url_web_admin

            }
        },

        props: {
            merchandise: String,
            activation: String,
            can_edit: String,
            can_delete: String,
        },

        mounted(){
            this.fetchMechandise();
        },

        methods: {

            merchandiseForm(){

                this.loader = true;

                var name = this.input_name && this.input_name.trim();
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }

                var description = this.input_description;
                var quantity = this.input_quantity;

                const vm = this;
                let uri = base_url+`admin-merchandise-edit`;
                axios.post(uri, {
                    merchandise_id: this.merchandise,
                    name: name,
                    description: description,
                    quantity: quantity,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            fetchMechandise (){
                let uri = base_url+`admin-merchandise-detail/`+this.merchandise;
                axios.get(uri).then((response) => {

                    let merchandise = response.data;

                    if(merchandise){
                        this.input_name = merchandise.name;
                        this.input_description = merchandise.description;
                        this.input_quantity = merchandise.quantity;
                    }

                });
            },

            deleteMerchandise(){
                this.loader = true;
                const vm = this;
                let uri = base_url+`admin-merchandise-delete`;
                axios.post(uri, {
                    merchandise_id: this.merchandise,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){
                            alert('Merchandise has been successfully deleted');
                            window.location.replace(vm.base_url_web_admin+'activation-details/'+this.activation);

                        }else{
                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Merchandise record was not deleted";
                        }

                    })
                    .catch(function (error) {

                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Merchandise record was not deleted";
                        console.log(error);

                    });

            },

        }

    }

</script>

