<template>
    <div class="row">
        <div class="col-5" v-if="can_create">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Success!</strong> You have added an team leader.
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Error!</strong> team leader was not added.
                    </div>
                    <form @submit.prevent="team_leaderForm" method="post">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="team_leader">Team leader</label>
                                        <select class="form-control" id="team_leader" aria-describedby="team_leader_help" v-model="input_team_leader">
                                            <option :value="team_leaders_create.id" v-for="team_leaders_create in team_leaders_creates"> {{ team_leaders_create.name }}</option>
                                        </select>
                                    <small id="team_leader_help" class="form-text text-muted">Select team leader</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-primary">Add team leader</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-7" v-if="can_list">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="example" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="width: 40%;">Name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th class="actions" v-if="can_details">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(team_leader, key) in team_leaders">
                            <td>{{ key+1 }}</td>
                            <td style="width: 40%;">{{ team_leader.name }}</td>
                            <td>{{ team_leader.phone_number }}</td>
                            <td>{{ team_leader.email }}</td>
                            <td v-if="can_details">
                                <a :href="base_url_web_admin+'team_leader-details/'+team_leader.id" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{
                input_team_leader: '',
                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

                team_leaders: [],
                team_leaders_creates: [],

                base_url_web,
                base_url_web_admin

            }
        },

        props: {
            activation: String,
            can_list: String,
            can_create: String,
            can_details: String,
        },

        mounted(){
            this.fetchTeamLeaderCreate();
            this.fetchTeamLeader();
        },

        methods: {

            team_leaderForm(){

                this.loader = true;

                var team_leader = this.input_team_leader && this.input_team_leader.trim();
                if (!team_leader) {
                    alert('Enter team leader');
                    this.loader = false;
                    return
                }


                const vm = this;
                let uri = base_url+`admin-team-leader-create`;
                axios.post(uri, {
                    admin_id: team_leader,
                    activation_id: this.activation,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;
                            vm.input_team_leader = '';

                            vm.fetchTeamLeader();

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            fetchTeamLeaderCreate(){
                let uri = base_url+`admin-get-activation-team-leader-create/`+this.activation;
                axios.get(uri).then((response) => {
                    this.team_leaders_creates = response.data;
                });
            },

            fetchTeamLeader (){
                let uri = base_url+`admin-get-activation-team-leader/`+this.activation;
                axios.get(uri).then((response) => {
                    this.team_leaders = response.data;
                });
            },


        }

    }

</script>

