<template>
    <merchandise-chart :width="mywidth" :activation="activation"></merchandise-chart>
</template>

<script>

    import MerchandiseChart from './MerchandiseChart';
    export default {

        props: {
            activation: String,
        },

        components:{
            'merchandise-chart': MerchandiseChart
        },

        data(){
            return {
                mywidth: 700,
                myheight: 500,
            }
        }

    }
</script>