<template>
    <interaction-chart :width="mywidth" :activation="activation"></interaction-chart>
</template>

<script>

    import InteractionChart from './InteractionChart';

    export default {

        props: {
            activation: String,
        },

        components:{
            'interaction-chart': InteractionChart
        },

        data(){
            return {
                mywidth: 1050,
                myheight: 500,
            }
        }

    }
</script>