<template>
    <div>
        <form @submit.prevent="activationForm" method="post">
            <div class="d-inline-block">
                <div class="form-group">
                    <label for="activation">Search activation</label>
                    <select class="form-control" id="activation" style="width: 300px;" v-model="input_activation">
                        <option :value="activation.id" v-for="activation in activations"> {{ activation.name }}</option>
                    </select>
                </div>
            </div>
            <div class="d-inline-block">
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-warning">Search</button>
                    </div>
                </div>
            </div>

        </form>

        <div class="row" v-if="expenses.length != 0">
            <div class="col-10">
                <div class="card mb-4">
                    <div class="card-body">
                        <table id="example1" class="table table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th style="width: 30%;">Requisition title</th>
                                <th style="width: 25%;">User</th>
                                <th>Amount</th>
                                <th>Required date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="expense in expenses">
                                <td>{{ expense.expenses_id  }}</td>
                                <td style="width: 30%;"><a :href="base_url_web_admin+'expenses-details/'+expense.id" target="_blank">{{ expense.requisition_title }}</a></td>
                                <td style="width: 25%;"> {{ expense.admin_name }} </td>
                                <td> {{ expense.amount }} </td>
                                <td> {{ expense.required_date }} </td>
                                <td>
                                    <span class="badge badge-success" v-if="expense.requisition_status === 1">Approved</span>
                                    <span class="badge badge-warning" v-else-if="expense.requisition_status === 0">Pending</span>
                                    <span class="badge badge-danger" v-else-if="expense.requisition_status === 2">Declined</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }
</style>

<script>


    export default {

        data(){
            return{
                input_activation: '',
                loader: Boolean = false,

                activations: [],
                expenses: [],

                base_url_web,
                base_url_web_admin

            }
        },

        mounted(){
            this.fetchActivations();
        },

        methods: {

            activationForm(){

                this.loader = true;

                var activation = this.input_activation;
                if (!activation) {
                    alert('Select activation');
                    this.loader = false;
                    return
                }

                const vm = this;
                let uri = base_url+`admin-get-activation-expenses`;
                axios.post(uri, {
                    activation_id: activation,
                })
                    .then(function (response) {
                        vm.loader = false;
                        vm.expenses = response.data;

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                    });

            },


            fetchActivations (){
                let uri = base_url+`admin-activation`;
                axios.get(uri).then((response) => {
                    this.activations = response.data;
                });
            },

        }

    }

</script>