<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have edited activation details.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{ alert_message }}.
        </div>
        <form @submit.prevent="activationUpdateForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name"> Activation Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter name" v-model="input_name">
                        <small id="name_help" class="form-text text-muted">Enter name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" aria-describedby="description_help" placeholder="Enter description" v-model="input_description"></textarea>
                        <small id="description_help" class="form-text text-muted">Enter description</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="client">Client / Company</label>
                        <select class="form-control" id="client" aria-describedby="client_help" v-model="input_client">
                            <option :value="client.id" v-for="client in clients"> {{ client.company_name }}</option>
                        </select>
                        <small id="client_help" class="form-text text-muted">Enter client / company</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="project_manager">Project manager</label>
                        <select class="form-control" id="project_manager" aria-describedby="project_manager_help" v-model="input_project_manager">
                            <option :value="project_manager.id" v-for="project_manager in project_managers"> {{ project_manager.name }}</option>
                        </select>
                        <small id="project_manager_help" class="form-text text-muted">Enter project manager</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="ba_unit">BA Payroll Unit</label>
                        <input type="number" class="form-control" id="ba_unit" aria-describedby="ba_unit_help" placeholder="Enter ba unit`" v-model="input_ba_unit">
                        <small id="ba_unit_help" class="form-text text-muted">Enter ba unit</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="tl_unit">TL Payroll Unit</label>
                        <input type="number" class="form-control" id="tl_unit" aria-describedby="tl_unit_help" placeholder="Enter end date" v-model="input_tl_unit">
                        <small id="tl_unit_help" class="form-text text-muted">Enter tl unit</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="enable_geolocation">Enable geofencing</label>
                        <select class="form-control" id="enable_geolocation" aria-describedby="mode_of_payment_help" v-model="input_enable_geo_fence">
                            <option value="0"> Disable</option>
                            <option value="1"> Enable</option>
                        </select>
                        <small id="enable_geolocation_help" class="form-text text-muted">Enable geofence</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="enable_tl_location">Enabl TL Location</label>
                        <select class="form-control" id="enable_tl_location" aria-describedby="mode_of_payment_help" v-model="input_allow_tl_location">
                            <option value="0"> Disable</option>
                            <option value="1"> Enable</option>
                        </select>
                        <small id="enable_tl_location_help" class="form-text text-muted">Enable TL Location</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="enable_client_portal">Enable client portal</label>
                        <select class="form-control" id="enable_client_portal" aria-describedby="mode_of_payment_help" v-model="input_allow_client_portal">
                            <option value="0"> Disable</option>
                            <option value="1"> Enable</option>
                        </select>
                        <small id="enable_client_portal_help" class="form-text text-muted">Enable TL Location</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="start_date">Start date</label>
                        <input type="date" class="form-control" id="start_date" aria-describedby="start_date_help" placeholder="Enter start date" v-model="input_start_date">
                        <small id="start_date_help" class="form-text text-muted">Enter start date</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="end_date">End date</label>
                        <input type="date" class="form-control" id="end_date" aria-describedby="end_date_help" placeholder="Enter end date" v-model="input_end_date">
                        <small id="end_date_help" class="form-text text-muted">Enter end date</small>
                    </div>
                </div>
            </div>
            <div class="row" v-if="loader">
                <div class="col-sm">
                    <div id="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" v-if="can_edit">Edit activation</button>
                    <button class="btn btn-danger" @click.prevent="deleteActivation()" v-if="can_delete">Delete activation</button>
                </div>
            </div>
        </form>
    </div>
</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    export default {
        props: {
            activation: String,
            can_edit: String,
            can_delete: String,
        },

        mounted(){
            this.fetchProjectManager();
            this.fetchClients();
            this.fetchActivation();

        },

        data(){
            return{

                input_name: '',
                input_description: '',
                input_client: '',
                input_project_manager: '',
                input_start_date: '',
                input_end_date: '',
                input_ba_unit: '',
                input_tl_unit: '',
                input_enable_geo_fence: '',
                input_allow_tl_location: '',
                input_allow_client_portal: '',


                alert_error: Boolean = false,
                alert_message: "",
                alert_success: Boolean = false,
                loader: Boolean = false,

                project_managers: [],
                clients: [],

                base_url_web,
                base_url_web_admin

            }
        },

        methods: {

            activationUpdateForm(){
               
                this.loader = true;

                var name = this.input_name && this.input_name.trim();
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }

                var description = this.input_description;

                var client = this.input_client;
                if (!client) {
                    alert('Enter client');
                    this.loader = false;
                    return
                }

                var project_manager = this.input_project_manager;
                if (!project_manager) {
                    alert('Enter project manager');
                    this.loader = false;
                    return
                }


                var ba_unit_cost = this.input_ba_unit;
                var team_leader_unit_cost = this.input_tl_unit;

                var start_date = this.input_start_date;
                if (!start_date) {
                    alert('Enter start date');
                    this.loader = false;
                    return
                }

                var end_date = this.input_end_date;
                if (!end_date) {
                    alert('Enter end date');
                    this.loader = false;
                    return
                }

                if(Date.parse(start_date) <= Date.parse(end_date)){
                    //start is less than End
                }else{
                    alert('End date cannot be earlier than start date');
                    this.loader = false;
                    return
                }

                var enable_geo_fence = this.input_enable_geo_fence;
                var allow_tl_location = this.input_allow_tl_location;
                var allow_client_portal = this.input_allow_client_portal;

                const vm = this;
                let uri = base_url+`admin-activation-edit`;
                axios.post(uri, {
                    activation_id: this.activation,
                    name: name,
                    description: description,
                    client: client,
                    project_manager: project_manager,
                    start_date : start_date,
                    end_date : end_date,
                    ba_unit_cost : ba_unit_cost,
                    team_leader_unit_cost : team_leader_unit_cost,
                    enable_geo_fence: enable_geo_fence,
                    allow_tl_location: allow_tl_location,
                    allow_client_portal: allow_client_portal,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;


                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Activation details was not edited";
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Activation details was not edited";
                    });

            },


            deleteActivation(){
                this.loader = true;
                const vm = this;
                let uri = base_url+`admin-activation-delete`;
                axios.post(uri, {
                    activation_id: this.activation,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){
                            alert('Activation has been successfully deleted');
                            window.location.replace(vm.base_url_web_admin+'activation');

                        }else{
                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Activation record was not deleted";
                        }

                    })
                    .catch(function (error) {

                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Activation record was not deleted";
                        console.log(error);

                    });

            },

            fetchActivation (){
                let uri = base_url+`admin-activation-detail/`+this.activation;
                axios.get(uri).then((response) => {

                    let activation = response.data;

                    if(activation){
                        this.input_name = activation.name;
                        this.input_description = activation.description;
                        this.input_client = activation.client_id;
                        this.input_project_manager = activation.project_manager_id;
                        this.input_start_date = activation.start_date;
                        this.input_end_date = activation.end_date;
                        this.input_ba_unit = activation.ba_unit_cost;
                        this.input_tl_unit = activation.team_leader_unit_cost;
                        this.input_enable_geo_fence = activation.enable_geo_fence;
                        this.input_allow_tl_location = activation.allow_tl_location;
                        this.input_allow_client_portal = activation.allow_client_portal;
                    }

                });
            },

            fetchProjectManager (){
                let uri = base_url+`admin-get-project-managers`;
                axios.get(uri).then((response) => {
                    this.project_managers = response.data;
                });
            },

            fetchClients (){
                let uri = base_url+`admin-get-clients`;
                axios.get(uri).then((response) => {
                    this.clients = response.data;
                });
            },


        }

    }

</script>

