<template>
    <div class="row">
        <div class="col-7" v-if="can_list">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="example" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="width: 40%;">Name</th>
                            <th>Phone number</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(user, key) in users">
                            <td>{{ key+1 }}</td>
                            <td style="width: 40%;">{{ user.name }}</td>
                            <td>{{ user.phone_number }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{
                input_user: '',
                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

                users: [],
                users_creates: [],

                base_url_web,
                base_url_web_admin

            }
        },

        props: {
            activation: String,
            can_list: String,
            can_create: String,
            can_details: String,
        },

        mounted(){
            this.fetchUser();
        },

        methods: {

            fetchUser (){
                let uri = base_url+`admin-get-activation-users/`+this.activation;
                axios.get(uri).then((response) => {
                    this.users = response.data;
                });
            },


        }

    }

</script>

