<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have created payslip.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> Payslip was not created.
        </div>
        <form @submit.prevent="payslipForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="employee">Select Employee</label>
                        <select class="form-control" id="employee" aria-describedby="employee_help" v-model="input_employee">
                            <option :value="employee.id" v-for="employee in employees"> {{ employee.name }}</option>
                        </select>
                        <small id="name_help" class="form-text text-muted">Enter name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="year">Select year</label>
                        <select class="form-control" id="year" v-model="input_year">
                            <option>Select year</option>
                            <option value="2019">2019</option>
                        </select>
                        <small id="phone_number_help" class="form-text text-muted">Select year</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="month">Select month</label>
                        <select class="form-control" id="month" v-model="input_month">
                            <option>Select month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <small id="national_id_help" class="form-text text-muted">select month</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="gross_salary">Gross salary</label>
                        <input type="number" class="form-control" id="gross_salary" aria-describedby="gross_salary_help" placeholder="Gross salary" v-model="input_gross_salary">
                        <small id="gross_salary_help" class="form-text text-muted">Gross salary</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="insurance_relief">Insurance relief</label>
                        <input type="number" class="form-control" id="insurance_relief" aria-describedby="insurance_help" placeholder="Insurance relief" v-model="input_insurance_relief">
                        <small id="insurance_relief_help" class="form-text text-muted">Insurance relief</small>
                    </div>
                </div>
            </div>

            <div class="row" v-if="loader">
                <div class="col-sm">
                    <div id="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary">Create payslip</button>
                </div>
            </div>
        </form>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>


    export default {

        data(){
            return{

                input_employee: '',
                input_year: '',
                input_month: '',
                input_gross_salary: '',
                input_insurance_relief: '',
                employees: [],

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

            }
        },

        mounted(){
            this.fetchEmployees();
        },

        methods: {

            payslipForm(){

                this.loader = true;

                var employee = this.input_employee
                if (!employee) {
                    alert('Enter employee');
                    this.loader = false;
                    return
                }

                var year = this.input_year
                if (!year) {
                    alert('Enter year');
                    this.loader = false;
                    return
                }

                var month = this.input_month
                if (!month) {
                    alert('Enter month');
                    this.loader = false;
                    return
                }

                var gross_salary = this.input_gross_salary
                if (!gross_salary) {
                    alert('Enter gross salary');
                    this.loader = false;
                    return
                }

                var insurance_relief = this.input_insurance_relief


                const vm = this;
                let uri = base_url+`admin-payslip-create`;
                axios.post(uri, {
                    admin_id: employee,
                    year: year,
                    month: month,
                    gross_salary : gross_salary,
                    insurance_relief: insurance_relief,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                            vm.input_employee = '';
                            vm.input_year = '';
                            vm.input_month = '';
                            vm.input_gross_salary = '';
                            vm.input_insurance_relief = '';

                        }else if(status == 2){

                            alert('Payslip already created');

                        } else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            fetchEmployees(){
                let uri = base_url+`admin-permanent_employees`;
                axios.get(uri).then((response) => {
                    this.employees = response.data;
                });
            },

        }

    }

</script>

