<template>
    <div>
        <form @submit.prevent="payslipForm" method="post">
            <div class="d-inline-block">
                <div class="form-group">
                    <label for="activation">Search year</label>
                    <select class="form-control" id="year" style="width: 200px;" v-model="input_year">
                        <option>Select year</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div>
            <div class="d-inline-block" style="margin-left: 10px;">
                <div class="form-group">
                    <label for="activation">Search month</label>
                    <select class="form-control" id="activation" style="width: 200px;" v-model="input_month">
                        <option>Select month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
            <div class="d-inline-block">
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-warning">Search</button>
                    </div>
                </div>
            </div>

        </form>

        <div class="row" v-if="payslips.length != 0">
            <div class="col-10">
                <div class="card mb-4">
                    <div class="card-body">
                        <table id="example1" class="table table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th style="width: 30%;">Employee name</th>
                                <th style="width: 25%;">Employee no</th>
                                <th>Gross salary</th>
                                <th>Net salary</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="payslip in payslips">
                                <td>#{{ payslip.payslip_id  }}</td>
                                <td style="width: 30%;"><a :href="base_url_web_admin+'payslip-details/'+payslip.id" >{{ payslip.name }}</a></td>
                                <td style="width: 25%;"> {{ payslip.employee_no }} </td>
                                <td> {{ payslip.gross_salary }} </td>
                                <td> {{ payslip.net_pay }} </td>
                                <td> {{ payslip.created_at }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }
</style>

<script>


    export default {

        data(){
            return{
                input_month: '',
                input_year: '',
                loader: Boolean = false,
                payslips: [],
                base_url_web,
                base_url_web_admin

            }
        },


        methods: {

            payslipForm(){

                this.loader = true;

                var month = this.input_month;
                if (!month) {
                    alert('Select month');
                    this.loader = false;
                    return
                }

                var year = this.input_year;
                if (!year) {
                    alert('Select year');
                    this.loader = false;
                    return
                }

                const vm = this;
                let uri = base_url+`admin-payslip`;
                axios.post(uri, {
                    month: month,
                    year: year,
                })
                    .then(function (response) {
                        vm.loader = false;
                        vm.payslips = response.data;

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                    });

            },


        }

    }

</script>