<template>
    <div class="row">
        <div class="col-5" v-if="can_create">
            <div class="card mb-4">
                <div class="card-body">
                <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Success!</strong> You have added a performance variables.
                </div>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error!</strong> performance was not added.
                </div>
                <form @submit.prevent="performanceForm" method="post">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="employee">Select Employee</label>
                                <select class="form-control" id="employee" aria-describedby="employee_help" v-model="input_employee">
                                    <option :value="employee.id" v-for="employee in employees"> {{ employee.name }}</option>
                                </select>
                                <small id="name_help" class="form-text text-muted">Enter name</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="start_date">Start date</label>
                                <input type="date" class="form-control" id="start_date" aria-describedby="start_date_help" placeholder="Enter start date" v-model="input_start_date">
                                <small id="start_date_help" class="form-text text-muted">Enter start date</small>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="end_date">End date</label>
                                <input type="date" class="form-control" id="end_date" aria-describedby="end_date_help" placeholder="Enter end date" v-model="input_end_date">
                                <small id="end_date_help" class="form-text text-muted">Enter end date</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="on_time">On time?</label>
                                <select class="form-control" id="on_time" v-model="input_on_time">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                                <small class="form-text text-muted">Submitted on time</small>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="in_full">On in full?</label>
                                <select class="form-control" id="in_full" v-model="input_in_full">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                                <small class="form-text text-muted">Submitted in full</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="no_error">No errors?</label>
                                <select class="form-control" id="no_error" v-model="input_no_error">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                                <small class="form-text text-muted">Submitted with no errors</small>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="target_achievement">Target achievement</label>
                                <select class="form-control" id="target_achievement" v-model="input_target_achievement">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                                <small class="form-text text-muted">Target achievement</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="overall_performance">Overall Performance</label>
                                <select class="form-control" id="overall_performance" v-model="input_overall_performance">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <small class="form-text text-muted">Overall performance</small>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="overall_attendance">Overall attendance</label>
                                <input type="number" class="form-control" id="overall_attendance" v-model="input_overall_attendance">
                                <small class="form-text text-muted">Overall attendance</small>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="loader">
                        <div class="col-sm">
                            <div id="loader"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <button type="submit" class="btn btn-primary">Add variables</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <form @submit.prevent="performanceReportForm" method="post">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="start_date">Start date</label>
                                    <input type="date" class="form-control" id="xls_tart_date" aria-describedby="start_date_help" placeholder="Enter start date" v-model="input_xls_start_date">
                                    <small id="xls_start_date_help" class="form-text text-muted">Enter start date</small>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="end_date">End date</label>
                                    <input type="date" class="form-control" id="xls_end_date" aria-describedby="end_date_help" placeholder="Enter end date" v-model="input_xls_end_date">
                                    <small id="xls_end_date_help" class="form-text text-muted">Enter end date</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-primary">Generate Report</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-7" v-if="can_list">
            <div class="card mb-4">
                <div class="card-body">
                    <table id="example1" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="width: 40%;">Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(performance, index) in performances">
                            <td>{{ index+1 }}</td>
                            <td style="width: 40%;">
                                {{ performance.name }} <br>
                                <a :href="base_url_web_admin+'performance-report-details/'+performance.id">View</a>
                            </td>
                            <td>{{ performance.start_date }}</td>
                            <td>{{ performance.end_date }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{

                input_employee: '',
                input_start_date: '',
                input_end_date: '',
                input_on_time: '0',
                input_in_full: '0',
                input_no_error: '0',
                input_target_achievement: '0',
                input_overall_performance: '1',
                input_overall_attendance: '',
                employees: [],

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

                performances: [],
                base_url_web_admin,

                input_xls_start_date: '',
                input_xls_end_date: '',

            }
        },

        props: {
            can_list: String,
            can_create: String,
            can_details: String,
        },

        mounted(){
            this.fetchperformance();
            this.fetchEmployees();
        },

        methods: {

            performanceReportForm() {

                var start_date = this.input_xls_start_date
                if (!start_date) {
                    alert('Enter start date');
                    this.loader = false;
                    return
                }

                var end_date = this.input_xls_end_date
                if (!end_date) {
                    alert('Enter end date');
                    this.loader = false;
                    return
                }

                location.replace(this.base_url_web_admin + "performance-report-xls/" + start_date +"/"+end_date);
            },

            performanceForm(){

                this.loader = true;

                var start_date = this.input_start_date
                if (!start_date) {
                    alert('Enter start date');
                    this.loader = false;
                    return
                }

                var end_date = this.input_end_date
                if (!end_date) {
                    alert('Enter end date');
                    this.loader = false;
                    return
                }

                var overall_attendance = this.input_overall_attendance
                if (!overall_attendance) {
                    alert('Enter overall attendance');
                    this.loader = false;
                    return
                }
                
                const vm = this;
                let uri = base_url+`admin-performance-create`;
                axios.post(uri, {
                    admin_id: vm.input_employee,
                    start_date: start_date,
                    end_date: end_date,
                    on_time: vm.input_on_time,
                    in_full: vm.input_in_full,
                    no_error: vm.input_no_error,
                    target_achievement: vm.input_target_achievement,
                    overall_performance: vm.input_overall_performance,
                    overall_attendance: overall_attendance,
                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                            vm.input_name = '';
                            vm.fetchperformance();

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            fetchperformance(){
                let uri = base_url+`admin-performance`;
                axios.get(uri).then((response) => {
                    this.performances = response.data;
                });
            },

            fetchEmployees(){
                let uri = base_url+`admin-permanent_employees`;
                axios.get(uri).then((response) => {
                    this.employees = response.data;
                });
            },

        }

    }

</script>

