<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> You have edited performance details.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{ alert_message }}.
        </div>
        <form @submit.prevent="performanceUpdateForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="employee">Select Employee</label>
                        <select class="form-control" id="employee" aria-describedby="employee_help" v-model="input_employee">
                            <option :value="employee.id" v-for="employee in employees"> {{ employee.name }}</option>
                        </select>
                        <small id="name_help" class="form-text text-muted">Enter name</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="start_date">Start date</label>
                        <input type="date" class="form-control" id="start_date" aria-describedby="start_date_help" placeholder="Enter start date" v-model="input_start_date">
                        <small id="start_date_help" class="form-text text-muted">Enter start date</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="end_date">End date</label>
                        <input type="date" class="form-control" id="end_date" aria-describedby="end_date_help" placeholder="Enter end date" v-model="input_end_date">
                        <small id="end_date_help" class="form-text text-muted">Enter end date</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="on_time">On time?</label>
                        <select class="form-control" id="on_time" v-model="input_on_time">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <small class="form-text text-muted">Submitted on time</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="in_full">On in full?</label>
                        <select class="form-control" id="in_full" v-model="input_in_full">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <small class="form-text text-muted">Submitted in full</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="no_error">No errors?</label>
                        <select class="form-control" id="no_error" v-model="input_no_error">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <small class="form-text text-muted">Submitted with no errors</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="target_achievement">Target achievement</label>
                        <select class="form-control" id="target_achievement" v-model="input_target_achievement">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <small class="form-text text-muted">Target achievement</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="overall_performance">Overall Performance</label>
                        <select class="form-control" id="overall_performance" v-model="input_overall_performance">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <small class="form-text text-muted">Overall performance</small>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="overall_attendance">Overall attendance</label>
                        <input type="number" class="form-control" id="overall_attendance" v-model="input_overall_attendance">
                        <small class="form-text text-muted">Overall attendance</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" v-if="can_edit">Edit performance</button>
                    <button class="btn btn-danger" @click.prevent="deletePerformance()"  v-if="can_delete">Delete performance</button>
                </div>
            </div>
        </form>
    </div>
</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    export default {
        props: {
            performance: String,
            can_edit: String,
            can_delete: String,
        },

        mounted(){
            this.fetchPerformance(this.performance)
            this.fetchEmployees();
        },

        data(){
            return{

                input_employee: '',
                input_start_date: '',
                input_end_date: '',
                input_on_time: '0',
                input_in_full: '0',
                input_no_error: '0',
                input_target_achievement: '0',
                input_overall_performance: '1',
                input_overall_attendance: '',

                employees: [],

                alert_error: Boolean = false,
                alert_message: "",
                alert_success: Boolean = false,
                loader: Boolean = false,

                base_url_web,
                base_url_web_admin

            }
        },

        methods: {

            performanceUpdateForm(){
               
                this.loader = true;

                var start_date = this.input_start_date
                if (!start_date) {
                    alert('Enter start date');
                    this.loader = false;
                    return
                }

                var end_date = this.input_end_date
                if (!end_date) {
                    alert('Enter end date');
                    this.loader = false;
                    return
                }

                var overall_attendance = this.input_overall_attendance
                if (!overall_attendance) {
                    alert('Enter overall attendance');
                    this.loader = false;
                    return
                }

                const vm = this;
                let uri = base_url+`admin-performance-edit`;
                axios.post(uri, {
                    id: this.performance,
                    admin_id: vm.input_employee,
                    start_date: start_date,
                    end_date: end_date,
                    on_time: vm.input_on_time,
                    in_full: vm.input_in_full,
                    no_error: vm.input_no_error,
                    target_achievement: vm.input_target_achievement,
                    overall_performance: vm.input_overall_performance,
                    overall_attendance: overall_attendance,
                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;


                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Performance details was not edited";
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Performance details was not edited";
                    });

            },


            deletePerformance(){
                this.loader = true;
                const vm = this;
                let uri = base_url+`admin-performance-delete`;
                axios.post(uri, {
                    id: this.performance,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){
                            alert('Performance has been successfully deleted');
                            window.location.replace(vm.base_url_web_admin+'performance');

                        }else{
                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Performance record was not deleted";
                        }

                    })
                    .catch(function (error) {

                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Performance record was not deleted";
                        console.log(error);

                    });

            },

            fetchPerformance (performance_id){
                let uri = base_url+`admin-performance-detail/`+performance_id;
                axios.get(uri).then((response) => {

                    let performance = response.data;
                    if(performance){
                        this.input_employee = performance.admin_id;
                        this.input_start_date = performance.start_date;
                        this.input_end_date = performance.end_date;
                        this.input_on_time = performance.on_time;
                        this.input_in_full = performance.in_full;
                        this.input_no_error = performance.no_error;
                        this.input_target_achievement = performance.target_achievement;
                        this.input_overall_performance = performance.overall_performance;
                        this.input_overall_attendance = performance.overall_attendance;
                    }

                });
            },

            fetchEmployees(){
                let uri = base_url+`admin-permanent_employees`;
                axios.get(uri).then((response) => {
                    this.employees = response.data;
                });
            },


        }

    }

</script>

