<template>
    <div class="card-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-if="alert_success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> Activation type edited.
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="alert_error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> Activation type failed to edit.
        </div>
        <form @submit.prevent="activationTypeForm" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name_help" placeholder="Enter name" v-model="input_name">
                        <small id="name_help" class="form-text text-muted">Enter name</small>
                    </div>
                </div>
            </div>
            <div class="row" v-if="loader">
                <div class="col-sm">
                    <div id="loader"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" v-if="can_edit">Edit</button>
                    <button class="btn btn-danger" @click.prevent="deleteActivationType()" v-if="can_delete">Delete</button>
                </div>
            </div>
        </form>
    </div>


</template>

<style>
    #loader {
        text-align: center;
        margin: 10px;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-top-color: #ff0d2c;
        border-right-color: #ff0d2c;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotate 3s ease-in-out infinite;
        transform: rotate(-200deg)
    }
    @keyframes rotate {
        0% { border-width: 3px; }
        25% { border-width: 3px; }
        50% {
            transform: rotate(115deg);
            border-width: 3px;
        }
        75% { border-width: 3px;}
        100% { border-width: 3px;}
    }

</style>

<script>

    
    export default {

        data(){
            return{

                input_name: '',

                alert_error: Boolean = false,
                alert_success: Boolean = false,
                loader: Boolean = false,

            }
        },

        props: {
            activation_type: String,
            activation: String,
            can_edit: String,
            can_delete: String,
        },

        mounted(){
            this.fetchActivationType();
        },

        methods: {

            activationTypeForm(){

                this.loader = true;

                var name = this.input_name && this.input_name.trim();
                if (!name) {
                    alert('Enter name');
                    this.loader = false;
                    return
                }
                
                const vm = this;
                let uri = base_url+`admin-activation-type-edit`;
                axios.post(uri, {
                    activation_type_id: this.activation_type,
                    name: name,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){

                            vm.alert_success = true;
                            vm.loader = false;

                        }else{

                            vm.loader = false;
                            vm.alert_error = true;
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.loader = false;
                        vm.alert_error = true;
                    });

            },

            fetchActivationType (){
                let uri = base_url+`admin-activation-type-detail/`+this.activation_type;
                axios.get(uri).then((response) => {

                    let activation_type = response.data;

                    if(activation_type){
                        this.input_name = activation_type.name;
                    }

                });
            },

            deleteActivationType(){
                this.loader = true;
                const vm = this;
                let uri = base_url+`admin-activation-type-delete`;
                axios.post(uri, {
                    activation_type_id: this.activation_type,

                })
                    .then(function (response) {
                        var status = response.data.success;
                        if(status == 1){
                            alert('Activation type has been successfully deleted');
                            window.location.replace(vm.base_url_web_admin+'activation-details/'+this.activation);

                        }else{
                            vm.loader = false;
                            vm.alert_error = true;
                            vm.alert_message = "Activation type record was not deleted";
                        }

                    })
                    .catch(function (error) {

                        vm.loader = false;
                        vm.alert_error = true;
                        vm.alert_message = "Activation type record was not deleted";
                        console.log(error);

                    });

            },

        }

    }

</script>

